.title-1 {
    display: block;
    text-align: center;
    margin-top: 150px;
    padding: 0 20px;
    font-size: 60px;
    /*font-family: 'Mitr', sans-serif;
    font-family:'Concert One', cursive;*/
    font-family: 'Mitr', sans-serif;
}

.text-box1 {
    text-indent: 1em;
    text-align: center;
    font-size: 18px;
    display: block;
    width: 80%;
    margin: 0 auto;
}

.hr-1 {
    width: 90%;
    border-radius: 50%;
    color: black;
}

.title-1 a {
    text-decoration: none;
    color: black;
}

.title-1 a:hover {
    text-decoration: underline black;
}

@media only screen and (max-width: 600px) {

    .title-1 {
        font-size: 40px;
    }

}