body {
	width: 100%;
    margin:0;
    padding:0;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

.header-1 {
position: relative;
display: block;
font-family: 'Great Vibes', cursive;
height: 200px;
background-color: #ba338f;
}

.header-1 h1 {
	display: inline-block;
	height: 200px;
	width: 42%;
	float: left;
	font-size: 65px;
	text-align: left;
	padding: 0;
	padding-left: 45px;
	line-height: 200px;
	margin:  0;
}

.header-1 h1 a {
	display: inline-block;
	color: white;
	text-decoration: none;
}

nav {
position: relative;
margin: 70px auto;
float: right;
height: 50px;
display: inline-block;
width: 450px;
}
.nav-1 {
display: inline-block;

}
.nav-1 ul {
float: left;
list-style-type: none;
margin: 0;
padding: 0;	
overflow: hidden;
height: 50px;	
display:flex; /*flex aqui - novo*/ 
justify-content:space-around; /*e distribuiÃ§Ã£o de espaÃ§o aqui - novo*/
max-width: 100%;
}
 
.nav-1 ul li a {	
font-family: 'Open Sans', sans-serif;	
display: block;	
color: white;	
text-align: center;	
padding: 14px 16px;	
text-decoration: none;
max-height: 50px;
}
.nav-1 ul li a:hover {
	text-decoration: underline;
}

nav img{cursor: pointer;position: absolute;float: right;display: inline-block;/* margin-top: 15px; *//* margin-left: 60px; */}

.section-1 .container-1 .title-1 {
	display: block;
	text-align: center;
	margin-top: 150px;
	padding: 0;
	font-size: 60px;
	/*font-family: 'Mitr', sans-serif;
    font-family:'Concert One', cursive;*/
	font-family: 'Mitr', sans-serif;
}

.text-box1 {
	text-indent: 1em;
	text-align: center;
	font-size: 18px;
	display: block;
	width: 80%;
	margin: 0 auto;
}

#principal-content {
	font-size: 20px;
	font-weight: bold;
}

@media only screen and (max-width: 1000px) {
.header-1 h1 {
	text-align: center;
	padding: 0;
	padding-top: 50;
	font-size: 26px;
	width: 25%;
	line-height: 30px;
	display: inline-block;
	padding-left: 10px;
}
}

@media only screen and (max-width: 600px) {

.header-1 {
	height: 150px;
}

.header-1 h1 {
	max-height: 150px;
	text-align: center;
	padding: 0;
	padding-top: 50;
	font-size: 32px;
	width: 35%;
	line-height: 30px;
	display: inline-block;
	padding-left: 10px;
}

.header-1 h1 a{
width: 100%;

}
.break-title {
	width: 100%;
	display: inline-block;
}



.section-1 .container-1 .title-1 {
	font-size: 40px;
}

.text-box1 {
	font-size: 16px;
}

#principal-content {
	font-size: 18px;
}
nav {
margin: 0;
position: relative;
float: right;
height: 150px;
display: inline-block;
width: 200px;
}
.nav-1 {
display: inline-block;
margin-top: 50px;
margin-left: 45px;

}
.nav-1 ul {
position: relative;
float: left;
list-style-type: none;
margin: 0;
padding: 0;
font-size: 12px;
overflow: hidden;
height: 50px;	
display:flex; /*flex aqui - novo*/ 
justify-content:space-around; /*e distribuiÃ§Ã£o de espaÃ§o aqui - novo*/
max-width: 100%;
}

.nav-1 ul li {
	height: 30px;
}

.nav-1 ul li a {	
font-family: 'Open Sans', sans-serif;	
display: block;	
color: white;	
text-align: center;	
padding: 0;
padding: 0 4px;	
text-decoration: none;
max-height: 50px;
}
.nav-1 ul li a:hover {
	text-decoration: underline;
}

nav img{
cursor: pointer;
float: right;
display: inline-block;
margin-top: 60px;
margin-left: 15px;
}	

#likes {
	padding-right: 8px;
}
.section-1 .container-1 .title-1 {
	margin-top: 50px;
}